[2012-05-04 20:38] oriolgual opened #1 "Demo with http://hal-shop.heroku.com/hal_browser.html"

[2012-05-26 19:09] oriolgual opened #4 "Honour Allow headers"
If the server sends and Allow header, honour it and don't let the client send unallowed requests

[2012-05-29 14:33] #1 closed, assigned to nobody

[2012-05-31 13:34] oriolgual opened #5 "A simple identity map for resources"
Implement a simple Resource identity map. Check if there's already a Resource created with that url and return that instance instead of creating it.

[2012-06-08 07:07] oriolgual opened #7 "Another example"
http://cs-api.heroku.com/api/browser#/

[2012-06-08 07:08] #5 closed, assigned to nobody

[2012-06-08 15:37] #7 closed, assigned to nobody

[2012-06-23 10:07] locks opened #8 "Accept-Encoding: gzip"
From what I gleaned from the issue tracker, HTTParty should support this already so it shouldn't be too hard to add it.
This cuts HAL payloads considerably, especially with several embedded resources.

[2012-06-23 18:01] #8 closed, assigned to nobody

[2012-06-24 00:51] locks opened #10 "Multiple copies of the same resource"
I'm getting the weirdest bug with my Hyperscore client.

If I do:

[code]

I can see that everything is fine, as the resources are as they should.

But, once I try to access them, either of the following ways, then every resource turns into the newest one:

[code]

Do you have any idea what's going on? It's really confusing to me.

[2012-06-30 19:52] #10 closed, assigned to nobody

[2012-07-07 21:06] oriolgual opened #13 "Moar examples"
http://haltalk.herokuapp.com/explorer/hal_browser.html#/

[2012-07-07 21:06] oriolgual opened #14 "Support for URI templates"

[2012-08-29 11:45] oriolgual opened #16 "Allow resources without an URL"

[2012-09-14 17:11] #16 closed, assigned to oriolgual

[2012-09-14 17:12] #14 closed, assigned to oriolgual

[2012-09-25 14:56] oriolgual opened #18 "Return a new Resource instead of the JSON response"
When creating a new resource, return a Resource instance instead of the raw JSON response.

[2012-10-12 22:23] #13 closed, assigned to oriolgual

[2012-10-12 22:23] oriolgual opened #22 "Support for _controls"
See https://gist.github.com/3808215

[2012-11-12 19:21] rehevkor5 opened #23 "Provide abstraction of linking vs. embedding?"
The idea here is that the client shouldn't care whether an object is linked or embedded. Hyperclient could provide an API that could navigate to an object regardless of which way the server provided it. It would work with the GET verb only (if it's a link). Does this sound like an idea that has merit? Do you think it would be acceptable as a new feature of Hyperclient?

[2012-12-13 12:04] langalex opened #24 "new release"
care to release a new gem version with the faraday changes included?

[2012-12-14 08:09] #24 closed, assigned to nobody

[2013-02-25 16:56] rehevkor5 opened #26 "Changing settings to deal with "end of file reached" after one minute"
I am getting "Faraday::Error::ConnectionFailed: end of file reached" if my request takes any longer than one minute.

However, I can't figure out how to get options to Faraday through the Hyperclient API. Hyperclient::EntryPoint.connection calls Faraday.new with a hard-coded options hash, and from there I can't figure out how I might access/modify that hash. Any ideas?

[2013-04-03 19:59] rehevkor5 opened #28 "Reducing inconsistency in object vs. hash approach"
Hi,

I'm running into a code smell in my Hyperclient. It has to do with Hyperclient::Attributes being returned from top-level attributes of a resource, but not for anything beneath.

Thus, on a top-level resource, you can do: `my_resource.attributes.foo` or `my_resource.attributes['foo']`

but not:

`my_resource.attributes.foo.bar`

Instead you must:
`my_resource.attributes.foo['bar']` or the more

[2013-06-03 22:18] rehevkor5 opened #32 "HTTP status/code not accessible"
Within link#resource(), when get() is called, only the body is saved, and the status code is discarded. That's not very handy. I'd like to add an attribute to Hyperclient::Resource for the status. Does that sound ok? Is there anything I should consider before making a PR?

[2013-06-11 14:29] bkeepers opened #35 "Loading full representations of embedded resources"
If the changes I proposed in #34 happen, it will be common for a consumer to unknowingly receive a partial representation of a resource.

[HAL draft, Section 4.1.2](http://tools.ietf.org/html/draft-kelly-json-hal-05#section-4.1.2):

For example, say a root resource has the an embedded `categories` relation:

[code]

Following the self link on the embedded category gives something like this:

[code

[2013-09-19 09:54] #23 closed, assigned to nobody

[2013-09-20 03:48] benhamill opened #40 "Advice For Use In Testing?"
Does anyone have any pointers for using Hyperclient in testing? I'm writing an API (using Rails) and would love to use Hyperclient in my high level tests (RSpec request specs) in a similar manner to doing Capybara stuff (RSpec feature specs). I just don't know enough about the environment to set the entry point right so that it hits the local app and doesn't make real requests.

I'd be happy to ma

[2013-09-27 11:37] #35 closed, assigned to nobody

[2013-10-12 07:18] benhamill opened #41 "Link#post return Resource?"
I don't know that `Link#post` should **actually** return a `Resource` since you'd lose access to the Faraday response (though, if #32 gets sorted, that'll fade away). But somehow, it would be nice to be able to make a POST request and still get a rich Hyperclient object back, rather than the Faraday response.

Honestly, if #32 were resolved and you had the response stored with a `Resource`, you co

[2013-10-15 21:00] benhamill opened #42 "Dealing With Other Media Types"
Imagine I get some HAL from a server that looks like this (in part, maybe):

[code]

And I am super interested in profile images, so I want to get that sucker. Right now, if I call, you know, `user.links.profile_image.resource` I get back a sort of confused `Hyperclient::Resource` that can't tell me the media type is jpeg or whatever. I could call `get` instead of `resource`, but then I have to kn

[2013-10-16 20:34] benhamill opened #45 "Irregular Use of Faraday?"
I'm using Hyperclient and have configured the underlying Faraday instance to use Net::HTTP::Persistent which, when you're making a ton of requests to the same server, can be a huge win for a process that's talking to an external API.

In my testing, I'm using WebMock to stub out and set expectations about my usage of the external API. I ran into a weird issue: When I'm using Net::Http::Persistent,

[2013-10-22 04:06] #45 closed, assigned to nobody

[2013-11-22 15:30] #26 closed, assigned to nobody

[2013-11-22 15:30] #28 closed, assigned to nobody

[2013-11-22 15:33] #32 closed, assigned to nobody

[2013-11-28 00:18] col opened #49 "Resource / Attributes is mutating the response.body"
I'd like to be able to access the raw JSON response from a Resource. I've noticed that the Resource class now has an attribute accessor for the response object. Unfortunately there seems to be a bug caused by the Attributes class deleting the '_link' and '_embedded' keys from the representation parameter. When these keys are removed from the representation it mutates the response.body.

I think th

[2013-12-16 10:38] jagregory opened #51 "Using Faraday HTTP Cache (or just using Faraday middleware)"
I'm trying to use [faraday-http-cache](https://github.com/plataformatec/faraday-http-cache) with Hyperclient, but it isn't proving easy.

faraday-http-cache expects to sit before `:net_http` in the middleware stack. A working example from their docs looks like this:

[code]

However, trying to achieve the same thing in Hyperclient doesn't work as expected. The following setup, which I would expect

[2013-12-20 11:36] #49 closed, assigned to nobody

[2013-12-20 20:15] mahmoudimus opened #52 "Extending this to support JSON-API"
We're big fans of json-api @balanced and I think your code could be something core to the balanced/balanced-ruby project.

We currently do not support HAL however I would like to extend HyperClient for json-api support.

Wanted to get your thoughts on creating a milestone that we can contribute to.

[2014-04-29 18:55] oriolgual opened #56 "Merge links & embedded"
This is a major refactor, but Hyperclient should not differntiate between `links` and `embeded` they are all resource with more or less information.

Instead of accessing `client.links.posts.first` or `client.embedded.posts.first` one should be able to simply access `client.resources.posts.first`

[2014-08-26 15:00] dblock opened #58 "Follow redirects"
I think hyperclient should by default follow redirects, which means adding to https://github.com/codegram/hyperclient/blob/ff3e85c0c2d48aa6287356321a13c3c548112678/lib/hyperclient/entry_point.rb#L47:

[code]

Currently monkey-patching

[code]

Thoughts?

[2014-08-26 15:26] dblock opened #59 "How do I retrieve standalone instances?"
I am new to HAL, so maybe my API is not doing the right thing per spec, will be glad to change it if needed.

I have a a collection of applications and the following API root.

[code]

I can do `api.links.applications` which calls `/api/applications` which returns an embedded collection of applications, all good. Each application has a link to "self".

Now, I have a Rails app that needs to edit on

[2014-08-26 17:54] #59 closed, assigned to nobody

[2014-09-18 01:36] dblock opened #62 "Intermittent test failure"
[code]

This is intermittent, 3 out of 10 runs. Looks suspicious.

[2014-09-26 18:32] #58 closed, assigned to nobody

[2014-09-30 15:37] dblock opened #65 "Profile support for links"
Porting from TODO.

[2014-09-30 19:54] dblock opened #67 "Add an example that uses api.m.ox.ac.uk and others"
The examples that were in this project died with the heroku apps. Add a demo using http://api.m.ox.ac.uk or others.

[2014-09-30 20:07] #56 closed, assigned to nobody

[2014-09-30 20:07] #62 closed, assigned to nobody

[2014-10-01 14:33] dblock opened #71 "Using Hyperclient? Add to the wiki, please!"
Add your project to the wiki: https://github.com/codegram/hyperclient/wiki

[2014-10-16 00:21] #41 closed, assigned to nobody

[2014-10-16 00:22] #18 closed, assigned to nobody

[2014-10-16 11:28] dblock opened #74 "Rename Hyperclient to HyperClient?"
_Hyperclient_ is spelled with a lowercase c, but in some places, like in the description of this repo and in .gemspec it says _HyperClient_. While we're making backwards incompatible changes all over the place, curious what @oriolgual and others think about doing the rename into HyperClient? I personally always try to spell it this way.

[2014-10-16 13:24] #51 closed, assigned to nobody

[2014-10-16 15:24] #40 closed, assigned to nobody

[2015-02-25 22:19] dylanfareed opened #82 "Content type hal+json doesn't agree with Faraday MIME json type"
If you are making a request from a spec with setup that is something like this

[code]

[FaradayMiddleware::EncodeJson](https://github.com/lostisland/faraday_middleware/blob/master/lib/faraday_middleware/request/encode_json.rb) will not convert the request to json because it isn't aware of 'application/hal+json'

We monkeypatched it locally to work around the problem but it still isn't pretty.

[c

[2015-02-25 22:23] dblock commented on #82
This was introduced in https://github.com/codegram/hyperclient/pull/81.

[2015-02-25 22:26] dylanfareed commented on #82
Ahhh. Alternatively one can upgrade and change the connection.request thusly:

[code]

[2015-02-25 23:39] dblock commented on #82
@dylanfareed Would appreciate a PR into [UPGRADING](https://github.com/codegram/hyperclient/blob/master/UPGRADING.md) that describes the problem and solution.

[2015-02-26 16:11] dylanfareed commented on #82
On it.

[2015-02-26 18:19] dblock commented on #82
Closing, as properly documented in UPGRADING.

[2015-02-26 18:19] #82 closed

[2015-03-18 07:06] jufemaiz opened #84 "Dynamic path with GET request"
Hi all, have a slight conundrum.

Looking at the Hyperclient::Link

https://github.com/codegram/hyperclient/blob/master/lib/hyperclient/link.rb#L84-L91

the _get call on it cannot pass any parameters as params unlike the other options (post, put, and patch)

Where get params are required it cannot be achieved.

[2015-03-18 11:18] dblock commented on #84
The link itself needs to be templated, then it can be constructed with parameters. You're not supposed to throw in random parameters into a get link. That said I would be open for allowing code to do that I think. Want to try a PR?

[2015-03-25 01:01] jufemaiz commented on #84
@dblock yep, I get that, however there are times when GET parameters are required - even with a RESTful approach. Will give it a crack. Cheers!

[2015-08-14 17:04] alabeduarte opened #89 "Add method fetch for Hyperclient::Resource"
Hi all,

Sometimes I use the [Hyperclient::Resource#[]](https://github.com/codegram/hyperclient/blob/master/lib/hyperclient/resource.rb#L56) as a hash, but I would like to avoid if statements when the attribute does not exist for some reason.

Did you consider implement the method fetch with similar behaviour of [Hash#fetch](http://docs.ruby-lang.org/en/2.2.0/Hash.html#method-i-fetch) in ruby?

Th

[2015-08-14 21:31] alabeduarte commented on #89
Just sent a [pull request](https://github.com/codegram/hyperclient/pull/90).

[2015-08-15 13:04] dblock commented on #84
@bhoggard this is what we discussed for that sort parameter, give it a shot!

[2015-08-15 19:51] dblock commented on #89
Closed via https://github.com/codegram/hyperclient/pull/90.

[2015-08-15 19:51] #89 closed

[2015-08-15 20:50] dblock commented on #84
I took a stab at implementing this and the most efficient solution I found was to patch `URITemplate`. There're a few questions:

1) I don't love it this implementation. We're no longer complying with RFC6570 so monkey-patching is not the way to go. But I don't love rewriting the whole class either.
2) We need to be able to enable/disable this behavior. I wonder whether it needs to be per client,

[2015-08-20 14:19] dblock opened #95 "#87 has introduced a regression in shortcuts in x._embedded.x"
The change in #87 to fix some eager skipping of links may have caused a regression. See https://github.com/dblock/slack-gamebot/commit/a14831031d5f67f2b7819837c1683143f2371856. The `.count` method is not being delegated to a fetched embedded collection anymore.

[2015-08-23 13:50] dylanfareed commented on #95
It looks like its now being delegated to the resource attributes?

[2015-08-23 14:04] dblock commented on #95
Released in 0.7.2.

[2016-03-12 01:52] joshco opened #97 "Incorrect interpretation of the HAL RFC wrt curies"
Im having trouble with curies and what appears to be a difference in behavior in hyperclient vs hal-browser.   Hyperclient is templating urls when not expected.
My server returns:
[code]
In the hal browser, the curie is just used for documentation links and it does not reformat the link URL, which is already absolute.
But in hyperclient, it is reformatting the url for the link itself as:

How do I

[2016-03-12 03:37] joshco commented on #97
pull request fix created

[2016-03-12 14:17] dblock commented on #97
This is clearly a bug, thanks for suggesting a fix.

[2016-03-12 20:59] joshco commented on #97
I added a feature (hack?) in my fork to allow the caller to set optional custom query_params.  I've made it a pull request just for discussion, curious to hear your thoughts.
[code]

[2016-03-13 21:51] dblock commented on #97
About this issue here, why are you using a curie in the `osdi:tags` example? Should this just be `tags`, in which case the issue is moot?

[2016-03-14 00:34] joshco commented on #97
perhaps we should separate the two issues and I'll move the query params out of this issue.
I think the issue of avoiding expansion when the href is already absolute should stay open.

[2016-03-14 01:22] joshco commented on #97
I think there is a misinterpretation of how curies are supposed to be used in HAL.  Curies are meant to shorten the key names in a _links hash, not the actual href associated with a link in the _links hash, as well as provide a link to the human readable documentation for said link.

https://tools.ietf.org/html/draft-kelly-json-hal-07#section-8.2

So actually, hyperclient shouldn't be doing any te

[2016-03-14 01:46] joshco commented on #97
Created pull request for that
https://github.com/codegram/hyperclient/pull/100

[2016-03-14 13:28] dblock commented on #97
Fixed in https://github.com/codegram/hyperclient/pull/101.

[2016-03-15 17:52] dblock commented on #97
Closed via https://github.com/codegram/hyperclient/pull/101.

[2016-03-15 17:52] #97 closed

[2016-03-15 19:51] dblock commented on #95
Permanently fixed in 0.8.2.

[2016-03-15 19:51] #95 closed

[2016-03-31 23:55] joshco opened #102 "How do I shut off Futuruscope?"
How can I tell hyperclient to either not use futuroscope or to stop using a thread pool?
In production i can see the use of it, but in development debugging it makes it near impossible to step through what is going on.

[2016-04-01 13:15] dblock commented on #102
It's a good question, maybe you want to open an issue/question with Futuroscope? I'd love this to be documented here.

[2016-04-03 06:02] joshco commented on #102
Here's where I got to.
https://github.com/codegram/futuroscope#disabling-concurrency
But when I try to reference the Futuroscope::Pools::NoPool.new, I get uninitialized constant.

Issue opened https://github.com/codegram/futuroscope/issues/25

[2016-04-03 12:55] dblock commented on #102
Aren't they saying that all you have to do is `Futuroscope.default_pool = Futuroscope::Pools::NoPool.new`?

[2016-04-03 13:41] joshco commented on #102
It does appear that is what they are saying but i cant figure out how to require the needed file where the pools are defined.
(I tried it from rails console to figure out what i need to but in my classes)
Am i an idiot or something?

[2016-04-03 21:05] dblock commented on #102
It looks like it was added in https://github.com/codegram/futuroscope/pull/22, which hasn't been released.

[2016-08-16 03:48] jufemaiz opened #103 "Hyperclient::Resource#to_h != Hyperclient::Resource#to_hash"
Hi guys, I'm using v0.8.1 and am having a discrepancy when using #to_h in place of #to_hash on a Hyperclient::Resource.

[code]

However the call to #to_h returns nil, while the call to #to_hash returns the expected hash

[2016-08-16 12:42] dblock commented on #103
Interesting, probably just a bug.

[2016-08-18 04:44] jufemaiz commented on #103
Ok, a bit of poking and I've discovered it.

Array#to_h exists
Array#to_hash doesn't exist

https://github.com/codegram/hyperclient/blob/39a07cb17dd0a16c818f3f2cc58f195a7186545e/lib/hyperclient/resource.rb#L87

Given that Hyperclient::Resource#to_hash has no arguments passed, we don't actually get to do anything with the to_h method on the Hyperclient::Resource, and there's nothing returned, hence

[2016-08-18 13:33] dblock commented on #103
Honestly I don't remember the reason for that `Array.defined`, `git blame` should surface it. There was definitely a test for this that was failing at some point.

[2016-08-18 22:43] jufemaiz commented on #103
[https://github.com/codegram/hyperclient/commit/03ecf0ad458437220f77cfcb0116916a52c8add1](https://github.com/codegram/hyperclient/commit/03ecf0ad458437220f77cfcb0116916a52c8add1)

But before that it was an Enumerable check.

https://github.com/codegram/hyperclient/commit/13a62b3e5e4d78da08c7816a127aab6c841fd66f

[2016-08-19 13:44] dblock commented on #103
Are you running `rake` with all the tests? I think you're missing the feature scenarios. That commit has a test with `each` that otherwise fails.

[2016-08-19 23:06] jufemaiz commented on #103
rake spinache output:

[code]

This continues all the way through.

[2016-09-24 23:22] joshco commented on #102
FYI Ive been using that PR and it is working eg no pool

[2016-09-24 23:22] joshco opened #106 "Add auto-pagination of embedded items"
Any guidance on the best practices for supporting paging (next links) with hyperclient?

[2016-09-25 12:47] dblock commented on #106
Hyperclient just "does it", as long as the server returns `next` links.

Server-side we use offsets and a cursor with mongoid with help from https://github.com/mongoid/mongoid-scroll and this:

[code]

You need a paginated presenter like https://github.com/ruby-grape/grape-with-roar/blob/master/api/presenters/paginated_presenter.rb called from a presenter of models like https://github.com/ruby-gra

[2016-09-25 13:50] dblock commented on #106
@joshco If you want to practice, you could add cursor-based pagination in grape-with-roar, either on top of [ActiveRecord](https://github.com/ruby-grape/grape-with-roar/tree/with-activerecord) or [MongoDB](https://github.com/ruby-grape/grape-with-roar/issues/7).

[2016-09-25 19:17] joshco commented on #106
Could you give an example of the client code using hyperclient to enumerate a paged collection?
The server side of my project does return next links, However, I was not getting beyond the first page when using code with a typical resources.each do |r| loop.

[2016-09-25 20:40] dblock commented on #106
I was bored, so I made the MongoDB server-side example in https://github.com/ruby-grape/grape-with-roar/pull/8.

[2016-09-25 20:54] dblock commented on #106
You still have to follow `_next` links to get everything.

[code]

[2016-09-25 21:05] dblock opened #107 "Between a _post and a _get, need a fresh client?"
See https://github.com/ruby-grape/grape-with-roar/issues/9.

Doesn't work:

[code]

Works:

[code]

[2016-12-29 14:49] ivoanjo opened #112 "Release version 0.8.2?"
It would be awesome if version 0.8.2 was released, so we at @Talkdesk could use the new async disable option.

[2016-12-30 02:43] dblock commented on #112
I'll take care of this soon.

[2016-12-31 23:17] dblock commented on #112
Released.

[2016-12-31 23:17] #112 closed

[2017-02-06 12:31] dblock opened #113 "undefined method `ascii_only?' for []:Array"
From https://github.com/codegram/hyperclient/pull/99#issuecomment-277643408

[2017-02-13 04:53] dblock commented on #113
This was in the PR code, not merged.

[2017-02-13 04:53] #113 closed

[2017-02-17 15:36] ivoanjo commented on #102
I believe that after #109 was merged, this can be closed.

[2017-02-17 16:00] ivoanjo opened #114 "Bad interaction between URITemplate and Faraday parameter parsing means dropped values from queries including multiple values for a parameter"
The `uri_template` gem, which hyperclient uses to build urls, implements RFC6570, that expands a parameter in the `{?foo*}` format as `?foo=a&foo=b&foo=c`.

Unfortunately, faraday's default argument parser (`Faraday::Utils.default_params_encoder`) [is set to the](https://github.com/lostisland/faraday/blob/master/lib/faraday/utils.rb#L213) [`NestedParamsEncoder`](https://github.com/lostisland/farad

[2017-02-17 20:38] dblock commented on #102
Yup, thx.

[2017-02-17 20:38] #102 closed

[2017-02-17 22:06] #114 closed

[2017-03-29 08:36] ivoanjo opened #116 "Release version 0.8.3?"
We've been @Talkdesk a branch with the fix for #114 , but it would be awesome to see the fix released so we could get back to the upstream version.

[2017-03-29 11:36] dblock commented on #116
@ivoanjo Want to help? Thanks again for that fix. Looked through your public work and seems like you know what you're doing ;) Happy to add you to collaborators and give you rubygems access (what's your rubygems email?).

[2017-03-29 11:52] ivoanjo commented on #116
Oh, wow. I'd be honored to help! My rubygems account is https://rubygems.org/profiles/ivoanjo

[2017-03-29 12:13] dblock commented on #116
Looks like I don't have org admin access to add you, but I have added you to Rubygems.

Maybe someone from codegram can help? @txus @beagleknight @divins @Dor3nz @josepjaume @lastpotion @mrcasals @oriolgual - I've been maintainer of this gem for years now, I can maybe get admin access to add others please? :)

[2017-03-29 12:13] dblock commented on #116
@ivoanjo Lets get ^ sorted out first.

[2017-03-29 13:35] oriolgual commented on #116
@dblock done! You are and admin of the repo! 🎉

[2017-03-29 19:28] ivoanjo commented on #116
I can confirm I already have access on `rubygems.org`, I'll be waiting for the org access so I can do the release :smile:

[2017-03-30 11:28] dblock commented on #116
@ivoanjo You're in @ivoanjo. Thanks @oriolgual!

[2017-03-30 22:54] dblock commented on #116
Thanks @ivoanjo

[2017-05-16 17:15] a-maas opened #117 "hyperclient v0.8.3 breaks compatibility with Faraday < v0.9"
Hyperclient v0.8.3 implements [FlatParamsEncoder](https://github.com/codegram/hyperclient/blob/master/CHANGELOG.md#083-march-30-2017), which was implemented in Faraday v0.9 and above. This breaks compatibility with Faraday less than v0.9. I wanted to see if this change was intensional, and is so, if you'd consider adding the minimum version of faraday in your [gemspec](https://github.com/codegram/

[2017-05-16 18:34] ivoanjo commented on #117
Yes, you're absolutely right! The `FlatParamsEncoder` is required, otherwise in parameters would be dropped in some cases --- when there were more than a value for the same parameter.

I will update the `gemspec` and put out a new release, thanks for reporting.

[2017-05-16 18:56] #117 closed

[2017-05-16 18:58] a-maas commented on #117
Thanks!

[2017-06-29 19:36] ivoanjo opened #119 "Current homepage link is broken"
The homepage link in the gemspec, which is also used on rubygems.org, points to <http://codegram.github.com/hyperclient/>, which is currently blank.

Probably going to fix it myself (point at github), but wanted to open an issue to track it.

[2017-06-30 15:01] #119 closed

[2017-07-27 19:24] rbetancor opened #121 "Error parsing response"
Hi all, I'm trying to use Hyperclient to consume the API of a server that it's build with perl+Catalyst and exposes outside as JSON+HAL, but I'm stuck with a parsing error that Hyperclient throw me and I'm unnable to figure what's happen.

This is the full response when I query the resource 'subscribers':

[code]

And this is the error Hyperclient throw me when I try to do a simple iteration over

[2017-07-27 21:59] dblock commented on #121
Is it ok to have a `_links` under `_embedded`?

You should build a spec for this and lets figure out if it's legit per JSON+HAL spec?

[2017-07-29 14:10] ivoanjo commented on #121
Maybe the issue is with the missing `Content-Type: application/hal+json` header? I can reproduce this exact same error message by having a server return a hal response but not include any `Content-Type` (and just this week a colleague was bit by this exact issue).

@dblock would you think it's useful to improve the error in these cases? I can try to whip up a PR to improve error handling when we d

[2017-07-29 16:10] rbetancor commented on #121
The isssue is with the API server not returning the root doc, instead it returns a html page with the manual of the API.
The reply I posted was from asking to one of the resources URL.

I'm beeing in contact with Oriol about this.

Either way, improving the error reporting on this cases, for example trowing a exception about not valid Content-Type will help a lot.

On a side note, is there any way

[2017-07-29 16:26] rbetancor commented on #121
@dblock As far as I know, it's a valid json+hal reply, because the _links section is outside _embedded one, then inside the _embedded you have another_links section, that point to the collection

[2017-07-31 21:11] dblock commented on #121
Okay, so back to the original issue it sounds like what's described in this bug is not the case, ie. that's not the data being returned (different content-type, an HTML page), right @rbetancor? In that case this should be closed?

Improving the error message would be great, if @ivoanjo wants to take it, go for it!

[2017-08-06 12:09] ivoanjo commented on #74
It seems like the `gemspec` is the one remaining place where `HyperClient` is used, so probably the simplest would be to fix that and close this issue?

[2017-08-06 12:23] ivoanjo opened #123 "Async background requests with futuroscope have not been async since 2014"
While working on #122 I started wondering if [`Link#http_method`](https://github.com/codegram/hyperclient/blob/master/lib/hyperclient/link.rb#L168-L181) was correct when using the `Futuroscope::Future`:

[code]

More specifically, we create a new `Futuroscope::Future`, store it in `response`, but then immediately ask for it's `resource.body` when creating a new resource. This means that we basical

[2017-08-06 12:35] ivoanjo commented on #71
Would it make sense to move this to the `README`?

[2017-08-06 15:06] joshco commented on #123
I've run into pain due to futuroscope when debugging.  The threadpool mucks up the abilility to get decent stack traces.  I ended up setting the default pool to essentially be synchronous.
It's interesting to learn that it wasn't really providing async anyway.  Hooray for complexity without the gain :)

I don't know how much async would really help, since it's acting as a HAL client.  Since HAL de

[2017-08-06 17:18] ivoanjo commented on #123
Agreed, the `async` does have an impact on performance and your debug ability; the main reason why I added the option to turn it off is that I was working on a system which did lots of processing in parallel (with JRuby) using threads, so we did not need hyperclient to add more threads to the mix.

On the other hand, I can see it being useful if you want to, for instance, fire off several requests

[2017-08-06 19:26] dblock commented on #74
Yes please @ivoanjo

[2017-08-06 19:27] dblock commented on #71
I would add a separate .md page like USERS.md, requires a PR unlike a wiki but is more discoverable, but so be it.

[2017-08-06 19:29] dblock commented on #123
Personally I find the whole futuroscope business unnecessarily complicated.

[2017-08-07 19:04] ivoanjo commented on #71
I was thinking more along the lines of moving this "issue" to the README. I'll prepare a PR with it, see what you think :)

[2017-08-07 19:19] ivoanjo commented on #71
What do you think of https://github.com/codegram/hyperclient/pull/125?

[2017-08-07 20:11] #71 closed

[2017-08-07 21:06] #74 closed

[2017-08-08 18:07] rbetancor commented on #121
@dblock Yes, you are wrigth ... the response I pasted, is the one you receive whenever you query directely the resource, the root API URL returns an html doc, no a json+hal root one, either way ... is there any way of passing to the client instance a root_doc build by myself?

[2017-08-08 20:28] dblock commented on #121
`Hyperclient.new(url)` is what you want, but you just need to pass the right URL in there. Or am I missing something?

I'll close this, but feel free to ask more questions!

[2017-08-08 20:28] #121 closed

[2017-08-08 21:20] rbetancor commented on #121
@dblock  no ... Hyperclient.new(url) is not valid for this ... because this wrongly developed api does not return a valid ROOT document, never ever ... so I whant to 'inyect' my own root_document to the Hyperclient instance and from there it follow the _links to the resources.

[2017-08-08 22:55] dblock commented on #121
Oh, the API should be fixed :)

That said, I looked at how you would "load" a document instead of requesting and parsing it, but there's a bunch of stuff going on there - all requests are made with Faraday.

A clean implementation is to write a middleware for Faraday that "fixes" this content. There's a bunch of examples of middleware in https://github.com/lostisland/faraday_middleware to look at.

[2017-08-13 10:51] rbetancor commented on #121
@dblock finaly I found how to tweak nginx setup so for queries against the root URL /api/ ... to return a static json file I build, instead of the html help docs of the api.
But now stuck on who to query resrouces that are named in an 'prefixed' way ... I mean .. how to query for api.subscribers.each ... when on the api the href for subscribers really said ngcp:subscribers  ... ? Any clue?

[2017-08-13 11:35] rbetancor commented on #121
@dblock wear ...

This is the index.json file I'm returing for a query over the root of the api:

[code]
Now from rails I do:

`@create_connection.subscribers.each { |sub| puts sub.id.to_s }`

And get this:

[code]
Either if I ask for specific resource:

@create_connection.subscriber(id: 52).id

I get the same error, the json reply for the first query (iterate over the whole list of resources), is

[2017-08-14 17:07] dblock commented on #121
Try to understand what's going on by looking at the entire stack of that exception, https://github.com/codegram/hyperclient/blob/master/lib/hyperclient/curie.rb#L25 is just accessing a hash and something there is a string where it expects an integer? With a repro you should be able to see what is what and what it's expecting and how it gets there.

[2017-08-26 10:45] ivoanjo opened #126 "Link method_missing delegation wrongly returns nil when field value is false"
When a resource includes some field that is `false`, trying to read it through the `Link` class will result in the value being returned as `nil` instead of `false`.

Test case:
[code]

Current result:
[code]

This seems to me to be due to a bad interaction in `Link#method_missing` (https://github.com/codegram/hyperclient/blob/master/lib/hyperclient/link.rb#L129):

[code]

In this case, `_resource.

[2017-08-26 16:23] dblock commented on #126
Your fix looks right, make a PR!

[2017-08-26 20:18] #126 closed

[2017-09-07 21:34] espen opened #129 "Outdated faraday due to faraday_hal_middleware"
faraday_hal_middleware is [using](https://github.com/fetch/faraday_hal_middleware/blob/master/faraday_hal_middleware.gemspec) an old version of Faraday: ```faraday_middleware', ['>= 0.9', '< 0.10']```.

This blocks hyperclient from using the latest version of faraday (currently 0.13.1).

faraday_hal_middleware hasn't been updated for a while but I have submitted a pull request here: https://github

[2017-09-08 07:16] joshco opened #130 "wierd post repeat"
Strangest thing ever...
I'm using hyperclient to find a link in a root document, and then doing a _post on it with some json.
On one server this works fine.
On another, hyperclient posts the data correctly, the server returns a 200 OK with a json response body.  Then hyperclient *repeats* the POST to the same URL, but includes the response body it got from the first response.
This then fails with

[2017-09-08 10:51] dblock commented on #130
Strange. Is this consistently reproducible on that machine? Some ideas:

- I would compare gem versions first, just in case something newer slipped in.
- Hyperclient uses [Futuroscope](https://github.com/codegram/futuroscope), which is a bit of magic. I would try setting the pool to no pool like [here](https://github.com/codegram/hyperclient/blob/master/test/test_helper.rb#L16) and see if it chang

[2017-09-09 01:12] joshco commented on #130
it's all running on the same machine, but the different behavior shows up depending on which server I am talking to.  The servers are two different rails server apps.  Luckily the one that is causing the problem is my own app that I control.
My server works fine with CURL, the HAL browser, and doing my POST directly with Faraday, but with hyperclient I see this behavior.

I tried updating my bundl

[2017-09-09 16:07] ivoanjo commented on #129
May I suggest also pinging the author via [twitter](https://twitter.com/koenpunt), for instance? I've had success with that approach in the past.

Otherwise, as `faraday_hal_middleware` is trivial enough, it may be useful to look at either getting `faraday_hal_middleware` into `faraday_middleware` (plan B) or just import it into hyperclient (plan C?) (this change would also be a great chance to ch

[2017-09-11 21:05] dblock commented on #130
I don't think so, but did you try to turn this into a spec? If you can repeat that behavior you can record the spec with VCR and we can repro/fix.

[2017-09-11 21:12] dblock commented on #129
Good idea(s) @ivoanjo. On JSON note that in Grape we got rid of multi_json and are considering it just one of possible JSON adapters. See https://github.com/ruby-grape/grape/pull/1623

[2017-09-12 07:38] joshco commented on #130
Im still troubleshooting it, turning it into a spec isn't trivial and I'm not there yet

[2017-09-12 20:20] ivoanjo commented on #129
Ah, interesting approach. I'm not a huge fan of just picking when the library is required (e.g. if somehow something causes `grape` to be loaded before `multi_json`, json decoding performance will suddendly go down a cliff without a lot of warning), and thus I would suggest an additional mechanism that would allow you to specifically pick multi_json (something like `Hyperclient.json_decoder = :mul

[2017-09-13 01:10] dblock commented on #129
Yes, explicit is better. Grape had to do this because of backwards compatibility.

[2018-01-05 20:56] dblock commented on #123
I've PRed https://github.com/codegram/hyperclient/pull/133 removing futuroscope. I'd like some +1 or -1 comments please.

One of the more recent issues that we found in production was that Futuroscope alone was adding 500MB to every Sidekiq worker's RAM usage, which was an unpleasant surprise.

[2018-01-05 21:06] ivoanjo commented on #123
Sounds like our friend [`MALLOC_ARENA_MAX`](https://devcenter.heroku.com/articles/tuning-glibc-memory-behavior) making an appearance!

Will review it asap!

[2018-01-05 21:56] dblock commented on #130
Maybe this is Futuroscope-related. If you have a repro, try with #133.

[2018-01-05 22:08] dblock commented on #129
I opened https://github.com/fetch/faraday_hal_middleware/issues/3, lets see if we can get some attention first.

[2018-01-06 11:10] #123 closed

[2018-01-10 15:47] dblock commented on #129
@espen Do you want to finish this one now that faraday_hal_middleware 0.1.0 has been released?

[2018-01-10 15:49] #129 closed

[2018-01-31 13:41] espen opened #134 "Handle non-hal+json responses"
Responses are currently required to be ```hal+json```. The API we consume returns a 201 without data and a http header for a new location when we do a ```_post```. The request is successful but Hyperclient gives a ```InvalidRepresentationError``` due to the response not being ```hal+json```.

This works in v0.8.5 but not in the latest version due to https://github.com/codegram/hyperclient/commit/1

[2018-01-31 13:44] espen commented on #130
This occurred in my development as well. Not sure what triggered it as I was just trying things out. I might have triggered it via the https://github.com/charliesome/better_errors console and not in the normal Rails request. But mitmproxy showed a bunch of repeating requests that would go on forever.

[2018-01-31 15:07] dblock commented on #134
You should be able to add the right headers or do something like

[code]

If the README is not clear appreciate some PRs.

[2018-01-31 15:08] dblock commented on #130
@espen And still present on 0.9.0? (futuroscope was removed)

[2018-01-31 15:17] espen commented on #130
@dblock not sure, as it was my initial testing for a rewrite it was probably an older version. Just wanted to comment that I experienced this, sorry for the lack of details. I'm gonna assume it was due to futurescope with the old version but will investigate better if it occurs again.

[2018-01-31 15:56] espen commented on #134
Thanks, overriding response content type works. I assumed the problem was due to the empty body.

[code]

This is the first hal-json API I'm using so not sure what the norm is. If it is normal to retrieve a response like this with empty body and without content-type then perhaps this user case should be more explicit in the readme (I can provide a PR for that). If this is some uncommon scenario th

[2018-01-31 18:14] dblock commented on #134
Please PR anything! Documentation never hurt.

[2019-04-27 12:20] ivoanjo opened #137 "Broken specs on Ruby 2.6.3"
Just noticed that there's a couple of broken specs on Ruby 2.6. Haven't had a chance to look into them:

[code]

[code]

[2019-05-23 18:45] composerinteralia opened #138 "EntryPoint#connection allows you to set faraday middleware after setting the adapter"
When passing a block to `client.connection` without the `default: false` option, adding any middleware will cause a warning:

[code]

This warning was introduced in https://github.com/lostisland/faraday/pull/685. We are seeing it here because the [default_faraday_block](https://github.com/codegram/hyperclient/blob/088f376595527792d5e28c799aed3cd4e923ef10/lib/hyperclient/entry_point.rb#L135-L144),

[2019-08-25 15:16] dblock opened #148 "Release v. Next"

[2019-08-25 15:17] dblock commented on #148
Aka I'd be happy to add you to contributors/owners if you want to help?

[2019-08-25 15:19] dblock commented on #138
Care to contribute this to README in some capacity?

[2019-08-25 15:27] dblock commented on #137
I believe this was fixed in #145, works for me on 2.6.3 now.

[2019-08-25 15:27] #137 closed

[2019-08-25 15:30] dblock commented on #148
I cut 0.9.1.

[2019-08-25 15:30] #148 closed

[2019-08-25 17:05] composerinteralia commented on #138
It looks like https://github.com/codegram/hyperclient/pull/149 might solve this

[2020-05-11 00:07] dblock opened #161 "faraday_digestauth incompatible with Faraday 1.0+"
I made a mistake releasing Hyperclient 0.9.2 requiring https://github.com/bhaberer/faraday-digestauth >= 0.3.0 [here](https://github.com/codegram/hyperclient/blob/master/hyperclient.gemspec#L18), but that one still has faraday ~> 0.7, which now breaks anyone using hyperclient.

I yanked 0.9.2, and we need https://github.com/bhaberer/faraday-digestauth/issues/15 before this can be fixed.

[2020-05-11 14:35] jonallured commented on #161
Bumped into this today doing my Monday morning bundle update on Convection, so I think for now one should lock their faraday to like so, right?

[code]

[2020-05-11 14:41] dblock commented on #161
Or use `gem 'bhaberer/faraday-digestauth'` in Gemfile.

[2020-05-14 21:38] dblock commented on #161
This was resolved and 0.9.3 was cut.

I'm also fixing the build in https://github.com/codegram/hyperclient/pull/163/files.

[2020-05-14 21:38] #161 closed

[2020-05-14 21:44] dblock commented on #138
Yep, and in #163 I reworked this test.

[2020-05-14 21:54] dblock opened #164 "Fix remaining Minitest 6 warnings"
I failed to fix this one in https://travis-ci.org/github/codegram/hyperclient/jobs/687209667

[code]

Spinach + Minitest don't play along and `_(obj)` is not available.

[2020-05-14 21:55] dblock commented on #138
This is fixed moving forward with Faraday 1+ I believe. Via https://travis-ci.org/github/codegram/hyperclient/builds/687209666:

* Faraday 0.9, no warning
* Faraday 0.17, WARNING: Unexpected middleware set after the adapter. This won't be supported from Faraday 1.0.
* Faraday 1.0.1, no warning

[2020-05-14 21:55] #138 closed

[2020-06-05 15:01] mosboomu commented on #103
lib/uri_template/rfc6570/expression.rb

[2020-06-05 15:02] mosboomu opened #167 "lib/uri_template/rfc6570/expression.rb"

[2020-06-05 15:05] mosboomu opened #168 "Hyper edit"
https://github.com/codegram/hyperclient/blob/ed9a79670305e10bb136bd6c3e7214bcb12f1d32/lib/hyperclient/link.rb#L84-L91

[2020-06-05 17:49] #167 closed

[2020-06-05 17:50] dblock commented on #168
@mosboomu What are you trying to do?

[2020-06-05 17:50] #168 closed

[2020-06-18 09:29] mosboomu opened #170 "Readme"
https://github.com/codegram/hyperclient/blob/5e93d42033b8ac575ceb81c2b621a14d59d0b4d3/.rubocop_todo.yml#L1

[2020-06-18 18:46] ivoanjo commented on #170
Seems like a bot. Closing and locking.

[2020-06-18 18:46] #170 closed

[2020-12-02 18:42] dblock commented on #106
I'm reopening this with a new title. I think we can auto-paginate resources by default.

[2020-12-02 18:58] dblock commented on #106
I have an implementation in https://github.com/codegram/hyperclient/pull/193, curious what people think.

[2020-12-28 13:44] #106 closed

[2021-08-06 13:40] espen opened #220 "Faraday is not using ENV variables for proxy"
## 🐞 Bug Report

### Steps to reproduce

Set ENV['http_proxy'] to local proxy.

Do request using Faraday directly will use env proxy.

Do request using Hyperclient will not use env proxy.

### Current Behavior

Overrides Faraday defaults.

### Expected behavior

Let Faraday use ENV defaults

### Additional context/Screenshots

Must set client.faraday_options = { proxy: 'http://localhost:8080' } ma

[2021-08-06 14:11] espen commented on #220
This was not an issue with hyperclient (0.9.3) and faraday (1.1.0). Upgraded to hyperclient (1.0.1) and faraday (1.6.0).

[2021-08-09 12:24] dblock commented on #220
Is this a known change in Faraday behavior or something we did? Either way I think the right thing to do would be to document this in https://github.com/codegram/hyperclient/blob/master/UPGRADING.md. WDYT?

[2021-08-10 09:43] espen commented on #220
I started doing some more research on this and it seems to be an issue with Faraday. Will debug some more and update this thread later. Closing for now. Sorry for the confusion, thanks for the reply.

[2021-08-10 09:43] #220 closed

[2022-01-12 15:31] kajatiger opened #232 "Ruby 3 upgrade throws kernel error for the overwritten each method"
## 🐞 Bug Report

### Steps to reproduce
We have an item that is the first hyperlink to the actual media and need to iterate through the sub nodes of it:
[code]
And then we get an error saying
[code]
since upgrading the rails app to ruby 3 (and rails 6.1)

### Expected behavior

We would expect to get a string back that contains the name of each item sub node.

### Possible Solution

We don't exact

[2022-01-12 20:25] dblock commented on #232
Start by adding Ruby 3 to https://github.com/codegram/hyperclient/blob/master/.travis.yml, do we have a repro of this out of the box with existing specs? If not, try building a repro?

[2022-01-13 11:20] kajatiger commented on #232
We fixed this in one spot now with adding `embedded`:
https://github.com/artsy/impulse/pull/805#discussion_r783322301

[2022-03-07 11:47] espen opened #235 "faraday_middleware is deprecated"
From https://github.com/lostisland/faraday_middleware

This gem depends on https://github.com/fetch/faraday_hal_middleware.

More info on https://github.com/lostisland/faraday/blob/main/UPGRADING.md#faraday-middleware-deprecation

[2022-03-07 11:49] espen commented on #235
https://github.com/fetch/faraday_hal_middleware/issues/8

[2022-06-28 19:47] dblock opened #246 "Migrate Travis-CI to Github Actions"
## 🦄 Feature Request

### Is your feature request related to a problem?

Travis-CI OSS has been MIA.

### Describe the solution you'd like

Replace with GHA.

### Teachability, Documentation, Adoption, Migration Strategy

Get inspired from https://github.com/ashkan18/graphlient/pull/89 and https://github.com/ashkan18/graphlient/pull/91